{% extends 'base.html' %}

{% block title %}Подробный просмотр задачи{% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col">
                <h2 class="padding-left-tasks-h2">
                    Подробный просмотр задачи разведкорпуса
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4 padding-left-tasks">
                <h5>{{ task.title }}</h5>
                <p>{{ task.description }}</p>
                <p><b>{{ task.status }}</b></p>
                <p>{{ task.ended_at }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-1 button-margin">
                <a href="{% url 'task_delete' task.pk %}" class='btn btn-danger '>Удалить</a>
            </div>
            <div class="col-1">
                <a href="{% url 'task_update' task.pk %}" class='btn btn-success'>Редактировать</a>
            </div>
        </div>
    </div>
{% endblock %}

